---
---

@import "https://fonts.googleapis.com/css?family=Merriweather:400,700";

.inner {
  max-width: 100%;
}



body {
  .container {
    width: 100%;
    max-width: 5200px;
    margin: 0 auto; }


}
